# Port configuration (Defaults to 3000 locally, 10000 on Render)
PORT=3000

# Email Configuration for Admin Notifications
EMAIL_USER=techguz11@gmail.com
EMAIL_PASS=pxff zmhr osov bjrt

# WebRTC TURN Relay Configuration (Metered.ca)
METERED_APP_NAME=dream360-chat
METERED_API_KEY=c04ab7188ab5293b168534813388046a8688
